/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  overflow-x: hidden;
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav a {
  text-decoration: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

.filters {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.filters button {
  padding: 5px 10px;
  border-radius: 60px;
  border: 1px solid #1d6154;
  font-size: 1rem;
  font-weight: 700;
  color: #1d6154;
  margin-bottom: 51px;
  cursor: pointer;
  transition: 0.5s;
}

.filters button:hover {
  background: #1d6154;
  color: white;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.edit_post {
  height: 59px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_post .fa-pen-to-square {
  color: white;
}

.edit_mod {
  color: white;
}

.edit_post button {
  color: black;
  background: white;
  padding: 11px 23px;
  border-radius: 60px;
}

.gallery_edit {
  width: 100%;
  margin-left: 40%;
  text-align: center;
  display: flex;
  align-items: center;
}

.gallery_edit .btn_edit {
  cursor: pointer;
  margin-left: 20px;
}

/*-------------------------------------------*/

.modale-container img {
  height: 104px;
  width: 78px;
}

.btn_edit {
  width: 100px;
  cursor: pointer;
  margin: auto;
}

.modale-container {
  visibility: hidden;
  position: fixed;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}

.modale-container.active {
  transition: visibility 0s;
  visibility: visible;
}

.overlay {
  opacity: 0;
  position: absolute;
  margin-left: -50%;
  width: 150%;
  height: 100%;
  background: #0000004d;
  transition: opacity 0.4s 0.2s ease-out;
}

.modale-container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modale-container h2 {
  font-family: "Work Sans", Courier, monospace;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 46px;
}

.modale {
  opacity: 0;
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  width: 630px;
  height: 731px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease-out;
}

.modale-container.active .modale {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.modale .fa-xmark {
  margin-top: 32px;
  margin-left: 93%;
  cursor: pointer;
}

.mini_pictures {
  display: flex;
  flex-wrap: wrap;
  margin: 0 102px;
}

.picture_edit {
  cursor: pointer;
  margin-left: 10%;
  margin-top: 5px;
}

.work-img {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 7px;
  position: relative;
}

.fa-arrows-up-down-left-right,
.fa-trash-can {
  font-size: 9px;
  position: absolute;
  border-radius: 2px;
  padding: 4px;
  color: #ffffff;
  background: black;
}

.fa-arrows-up-down-left-right {
  right: 26px;
  top: 6px;
}

.fa-trash-can {
  right: 6px;
  top: 6px;
}

.work-img span {
  font-family: "Work Sans", Courier, monospace;
  font-size: 12px;
  font-weight: 400;
}

.edit-gallery {
  display: flex;
  flex-direction: column;
  position: relative;
}

.edit-gallery button {
  cursor: pointer;
  font-family: "Syne", Courier, monospace;
  background: #1d6154;
  color: #ffffff;
  border-radius: 60px;
  margin: auto;
  border: none;
  margin-top: 85px;
  width: 237px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
}

.edit-gallery:before {
  background: #b3b3b3;
  content: "";
  position: absolute;
  margin-left: 105px;
  margin-top: 47px;
  width: 420px;
  height: 1px;
}

.edit-gallery span {
  cursor: pointer;
  font-size: 14px;
  margin: auto;
  margin-top: 23px;
  color: #d65353;
}

.modale-container-edit {
  visibility: hidden;
  position: fixed;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}

.modale-container-edit.active {
  transition: visibility 0s;
  visibility: visible;
}

.modale-edit {
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 29.7%;
  background: #fff;
  width: 630px;
  height: 670px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.modale-container-edit.active .modale-edit {
  opacity: 1;
}

.overlay-edit {
  opacity: 0;
  position: absolute;
  margin-left: -50%;
  width: 150%;
  height: 100%;
  background: #0000004d;
}

.modale-container-edit.active .overlay-edit {
  opacity: 1;
}

.fa-arrow-left {
  margin-left: 5%;
  cursor: pointer;
}

.modale-edit .fa-xmark {
  margin-top: 32px;
  margin-left: 87%;
  cursor: pointer;
}

.modale-edit h2 {
  font-family: "Work Sans", Courier, monospace;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 36px;
}

.fa-image {
  color: #b9c5cc;
  text-align: center;
  width: 58px;
  height: 46px;
  font-size: 50px;
  margin-top: 25px;
}

.container-add {
  border-radius: 3px;
  margin: auto;
  background: #e8f1f6;
  width: 420px;
  height: 169px;
  font-family: "Work Sans", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#file-selected {
  display: none;
}

#file-label {
  font-size: 14px;
  margin-top: 21px;
  cursor: pointer;
  background: #cbd6dc;
  color: #306685;
  padding: 10px 33px;
  border-radius: 50px;
  transition: 0.5s;
  user-select: none;
}

.container-add p {
  margin-top: 7px;
  font-size: 10px;
}

.title-choise,
.categorie-choise {
  font-family: "Work Sans", Courier, monospace;
  margin: auto;
  margin-top: 25px;
  width: 420px;
  display: flex;
  flex-direction: column;
}

#title-work,
#cat {
  height: 51px;
}

.title-choise label,
.categorie-choise label {
  margin-bottom: 10px;
}

#valid {
  display: none;
}

.send label {
  position: relative;
  margin: auto;
  margin-top: 79px;
  text-align: center;
  display: block;
  width: 237px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  transition: 0.5s;
  user-select: none;
}

.grey-color {
  background: #a7a7a7;
  color: #ffffff;
}

.green-color {
  background: #1d6154;
  color: #ffffff;
}

.send label:before {
  background: #b3b3b3;
  content: "";
  position: absolute;
  top: -100%;
  left: -39%;
  width: 420px;
  height: 1px;
}
